{% extends 'navegacao.html' %}
{% block conteudo %}

<h1>EstacionaFácil</h1>
<p>A forma mais rápida de estacionar!</p>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">CPF</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu CPF">
      <small id="emailHelp" class="form-text text-muted">Seu CPF é um dado privado e não será compartilhado com terceiros.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
    </div>
    <button type="submit" class="btn btn-success">Continuar</button>
</form>

<p>Não tem uma conta? <a href="register.html">Registre-se!</a></p>

{% endblock%}

