<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>EstacionaFácil</title>
</head>
<body>
    <script src="../static/js/bootstrap.min.js"></script>

    <nav>
        <a href="/index">Página inicial</a>
        <a href="/listadevagas">vagas disponíveis</a>
        <a href="/profileedit">Perfil</a>
    </nav>

{% block conteudo%}{% endblock %}
</body>
</html>